body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 8px 160px 0;
}

.header .headerElements {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

h2 {
  font-size: 18px;
  color: #e5e7eb;
}

.headerLogo {
  font-size: 24px;
  color: #f9faf8;
}

.footer {
  background-color: #1f2937;
  display: flex;
  justify-content: center;
  color: white;
}

button {
  align-self: flex-start;
  background-color: #3882f6;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 800;
  color: #e5e7eb;
}

.quote {
  background-color: #e5e7eb;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

.text {
  flex: 1;
  padding-top: 100px;
  padding-bottom: 100px;
}

.secondHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100%;
}

.headerImage {
  flex-shrink: 0;
  width: 30%;
}

.headerImage img {
  width: 100%;
  height: 220px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.mainText {
  margin-top: 0;
}

.secondHeader .text {
  width: 30%;
}
